/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 *
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEF 0
#define DIC 1
#define DICP 2
#define DICG 3
#define DICL 4
#define LWR 5
#define RSE 6
#define ARR 7
#define ADJ 8


&lt { quick_tap_ms = <200>; };
&mt { quick_tap_ms = <200>; };

/   {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };  
    };

    
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
    // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                               ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
            &kp ESC     &kp GRAVE       &kp Q       &kp W           &kp E         &kp R         &kp T                                         &kp Y        &kp U         &kp I          &kp O        &kp P         &kp LBKT      &kp RBKT
    // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                               ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                     &mt LSHIFT CAPS &hm LCTRL A   &hm LALT S     &hm LGUI D   &hm LSHIFT F     &kp G                                         &kp H      &hm RSHIFT J  &hm RGUI K    &hm RALT L   &hm RCTRL SEMI &lt RSE SQT
    //               ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                               ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                     &lt ARR LSHIFT     &kp Z         &kp X         &kp C         &kp V         &kp B                                         &kp N         &kp M      &kp COMMA     &kp DOT        &kp FSLH    &lt ARR BSLH
    //               ╰─────────────┴─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────╮   ╭─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴─────────────╯
                                                                               &lt RSE TAB    &kp SPACE    &lt LWR BSPC      &lt LWR DEL  &mt RSHFT RET   &tog DIC
    //                                                                       ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
                        >;
                };

        dictor_layer {
            bindings = <
    // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                               ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
            &kp ESC     &kp GRAVE       &kp W        &kp M         &kp Z        &kp CARET    &kp AMPS                                         &kp P        &kp D          &kp R        &kp L          &kp X         &kp I        &kp O
    // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                               ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                        &kp CAPS     &hm LCTRL E    &kp B        &lt DICG T     &lt DICP J     &kp F                                          &kp K      &lt DICP Y     &lt DICG N     &kp C          &kp H       &lt RSE Q
    //               ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                               ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                      &lt ARR LSHIFT    &kp A        &kp SQT      &kp LBKT        &kp S        &kp DOT                                       &kp COMMA      &kp V         &kp G        &kp U        &kp SEMI    &lt ARR RSHIFT
    //               ╰─────────────┴─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────╮   ╭─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴─────────────╯
                                                                                &lt RSE TAB    &kp SPACE  &lt DICL BSPC     &lt DICL ESC  &mt RSHFT RET    &tog DIC
    //                                                                       ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
                        >;
                };

        dictorshift_layer {
            bindings = <
    // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                               ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
            &none     &kp LS(GRAVE)   &kp LS(W)      &kp RBKT     &kp LS(Z)    &kp LS(FSLH)   &kp EXCL                                      &kp RS(P)     &kp RS(D)     &kp RS(R)    &kp RS(L)      &kp RS(X)     &kp RS(I)     &kp RS(O)
    // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                               ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                        &none         &kp LS(E)      &kp LS(B)    &kp LS(T)     &kp LS(J)    &kp LS(F)                                      &kp RS(K)     &kp RS(Y)     &kp RS(N)     &kp RS(C)     &kp RS(H)     &kp RS(Q)
    //               ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                               ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                        &none          &kp LS(A)  &kp LS(SQT)   &kp LS(LBKT)   &kp LS(S)     &kp LS(DOT)                                  &kp RS(COMMA)   &kp RS(V)     &kp RS(G)     &kp RS(U)     &kp RS(SEMI)  &none
    //               ╰─────────────┴─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────╮   ╭─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴─────────────╯
                                                                               &lt RSE TAB   &kp SPACE     &lt LWR BSPC     &lt LWR ESC   &mt RSHFT RET  &lt RSE DEL
    //                                                                       ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
                        >;
                };

        dictorgui_layer {
            bindings = <
    // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                               ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
            &none     &kp LS(GRAVE)   &kp LG(Q)     &kp LG(W)     &kp LG(E)    &kp LG(R)     &kp LG(T)                                      &kp LG(Y)     &kp LG(U)    &kp LG(I)     &kp LG(O)      &kp LG(P)    &kp LG(LBKT)  &kp LG(RBKT)
    // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                               ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                        &none         &kp LG(A)     &kp LG(S)    &kp LG(D)     &kp LG(F)     &kp LG(G)                                      &kp LG(H)     &kp LG(J)     &kp LG(K)     &kp LG(L)     &kp LG(SEMI)   &lt RSE SQT
    //               ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                               ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                        &none         &kp LG(Z)     &kp LG(X)    &kp LG(C)     &kp LG(V)     &kp LG(B)                                      &kp LG(N)     &kp LG(M)    &kp LG(COMMA)  &kp LG(DOT)   &kp LG(FSLH)  &none
    //               ╰─────────────┴─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────╮   ╭─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴─────────────╯
                                                                               &lt RSE TAB   &kp SPACE     &lt LWR BSPC     &lt LWR ESC   &kp LG(RET)  &lt RSE DEL
    //                                                                       ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
                        >;
                };

        dictorlower_layer {
            bindings = <
    // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                               ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮       
            &trans      &kp UNDER     &kp LS(M)    &kp LS(RBKT)   &kp HASH     &kp DLLR       &kp PRCNT                                     &kp STAR    &kp LA(N8)      &kp AT        &kp LPAR      &kp RPAR      &kp MINUS     &kp EQUAL
    // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                               ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                     &mt LCTRL PLUS     &kp N1       &kp N2        &kp N3     &hm LSHIFT N4    &kp N5                                         &kp N6    &hm RSHIFT N7    &kp N8        &kp N9        &kp N0       &kp PLUS
    //               ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                               ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                      &mt LALT EQUAL    &kp F1       &kp F2        &kp F3       &kp F4          &kp F5                                        &kp F6        &kp F7       &kp F8        &kp F9        &kp F10        &none
    //               ╰─────────────┴─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────╮   ╭─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴─────────────╯
                                                                              &lt ADJ TAB       &trans      &trans              &trans        &trans     &lt ADJ DEL
    //                                                                       ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
                        >;
                };

        lower_layer {
            bindings = <
    // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                               ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮       
          &trans        &kp UNDER      &kp EXCL      &kp AT        &kp HASH     &kp DLLR      &kp PRCNT                                     &kp CARET      &kp AMPS    &kp STAR      &kp LPAR       &kp RPAR     &kp MINUS     &kp EQUAL
    // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                               ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                     &mt LCTRL PLUS  &hm LCTRL N1  &hm LALT N2   &hm LGUI N3  &hm LSHIFT N4    &kp N5                                        &kp N6     &hm RSHIFT N7  &hm RGUI N8   &hm RALT N9   &hm RCTRL N0    &kp PLUS
    //               ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                               ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                     &mt LALT EQUAL    &kp F1        &kp F2         &kp F3       &kp F4        &kp F5                                        &kp F6        &kp F7        &kp F8        &kp F9        &kp F10       &none
    //               ╰─────────────┴─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────╮   ╭─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴─────────────╯
                                                                               &lt ADJ TAB     &trans        &trans            &trans         &trans     &lt ADJ DEL
    //                                                                       ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
                        >;
                };

        raise_layer {
            bindings = <
    // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                               ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮      
          &trans     &kp PAUSE_BREAK &kp C_VOL_UP   &kp HOME       &kp UP       &kp PG_UP    &kp KP_MINUS                                  &kp C_VOL_UP   &kp KP_N7     &kp KP_N8     &kp KP_N9    &kp KP_PLUS   &kp KP_MINUS    &trans
    // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                               ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                          &none      &kp C_MUTE      &kp LEFT      &kp DOWN     &kp RIGHT    &kp KP_PLUS                                 &kp C_MUTE  &hm RSHIFT KP_N4 &hm RGUI KP_N5 &hm RALT KP_N6 &hm RCTRL KP_MULTIPLY &none
    //               ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                               ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                         &trans      &kp C_VOL_DN    &kp END     &kp PSCRN      &kp PG_DN    &kp KP_DOT                                    &kp KP_N0       &kp KP_N1    &kp KP_N2    &kp KP_N3     &kp KP_DOT     &kp EQUAL
    //               ╰─────────────┴─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────╮   ╭─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴─────────────╯
                                                                                &trans          &trans     &lt ADJ RET       &lt ADJ ESC    &trans       &kp KP_N0
    //                                                                       ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
                        >;
                };

        arrow_layer {
            bindings = <
    // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                               ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮        
          &trans     &kp C_PLAY_PAUSE &kp C_VOL_UP  &kp HOME        &kp UP      &kp PG_UP    &kp KP_MINUS                                   &kp C_VOL_UP  &kp C_PLAY_PAUSE      &kp UP       &kp KP_N9    &kp KP_PLUS   &kp KP_MINUS     &trans
    // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                               ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                          &none    &hm LCTRL C_MUTE &hm LALT LEFT &hm LGUI DOWN &hm LSHIFT RIGHT &kp KP_PLUS                               &kp C_MUTE  &hm RSHIFT LEFT &hm RGUI DOWN &hm RALT RIGHT &hm RCTRL KP_MULTIPLY &kp KP_SLASH
    //               ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                               ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                         &trans     &kp C_VOL_DN     &kp END     &kp PSCRN     &kp PG_DN     &kp KP_DOT                                     &kp KP_N0    &kp KP_N1     &kp KP_N2     &kp KP_N3    &kp KP_DOT     &kp EQUAL
    //               ╰─────────────┴─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────╮   ╭─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴─────────────╯
                                                                               &kp ESC        &kp RET       &kp DEL           &kp TAB       &kp SPACE      &kp DEL
    //                                                                       ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
                        >;
                };

        adjust_layer {
            bindings = <
    // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                               ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮       
           &reset      &bootloader &kp LC(LS(N1)) &kp LC(LG(W))    &kp LC(F3)   &kp LC(F4)   &kp LC(F5)                                     &none        &none           &none        &none        &kp KP_PLUS    &bootloader     &reset
    // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                               ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                        &bt BT_CLR   &bt BT_SEL 0 &bt BT_SEL 1   &bt BT_SEL 2 &bt BT_SEL 3   &bt BT_SEL 4                                  &bt BT_SEL 4 &bt BT_SEL 3   &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0  &bt BT_CLR
    //               ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                               ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                          &none        &none        &none           &none        &none        &none                                          &none        &none          &none        &none        &none           &none
    //               ╰─────────────┴─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────╮   ╭─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴─────────────╯
                                                                                &trans        &none           &trans          &trans         &none          &trans
    //                                                                       ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
                        >;
                };
        };
};
